/* channel in focus */
.active-chat
{
    background-color: #5bc0de !important;
}

.message-list
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.message-list li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.message-list li.left .chat-body
{
    margin-left: 60px;
}

.message-list li.right .chat-body
{
    margin-right: 60px;
}


.message-list li .chat-body p
{
    margin: 0;
    color: #777777;
}


.main-chat
{
    height: 400px;
}

.y-scroll
{
    overflow-y: scroll;
}

.main-header
{
    padding-right: 15px;
    padding-left: 15px;
}

.main-header
{
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
}
.main-header h2
{
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}
/* Space out content a bit */
body
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-signin input[type="text"] {
    margin-bottom: 10px;
}



