@(webJarAssets: WebJarAssets)(userName: String)(implicit request: play.api.mvc.RequestHeader)
@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {
    <p>Username: @userName</p>
    <div class="log"></div>
    <input type="text" name="message" placeholder="message here">
    <a href="@routes.Application.logout()">logout</a>
    <button type="button" onclick="subscribe('test')">subscribe</button>

    <script>
         const wsUrl = $('body').data('websocket_url')

        const socket = new WebSocket(wsUrl)

        socket.onmessage = (event) => {
            console.log(event)
            const msg = JSON.parse(event.data)
            $('.log').append("<div>" + msg.user + ": " + msg.message + "</div>")
        }
        socket.onopen = (event) => {
            console.log('socket open')
        }

        $('input').on('keyup', function(e) {
            if (e.keyCode != 13)
                return

            const msg = { type: 'message', channel: 'default', message: this.value };
            this.value = ''

            socket.send(JSON.stringify(msg))

        })

        function subscribe(channel) {
             const subscribe = { type: 'subscribe', channel: channel}
             socket.send(JSON.stringify(subscribe))
        }


    </script>
}(webJarAssets)
