@(webJarAssets: WebJarAssets)(userName: String)(implicit request: play.api.mvc.RequestHeader)
@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {
    <p>Username: @userName</p>
    <div class="log"></div>
    <input type="text" name="message" placeholder="message here">
    <a href="@routes.Application.logout()">logout</a>
    <button type="button" onclick="subscribe('test')">subscribe</button>
    <br>
    <div class="channels"></div>

    <script>
         const wsUrl = $('body').data('websocket_url')

        const socket = new WebSocket(wsUrl)

         function receive(message) {
             const actions = {
                 'message': (msg) => $('.log').append("<div>" + msg.user + ": " + msg.message + "</div>"),
                 'channels': (msg) => {
                     $('.channels').html(msg.channels.map((channel) => {
                         return '<p>' + channel + '</p>'
                     }));
                 }
             }
             return actions[message.type](message)
         }

        socket.onmessage = (event) => {
            console.log(event)
            const msg = JSON.parse(event.data)
            receive(msg)
        }
        socket.onopen = (event) => {
            console.log('socket open')
        }

        $('input').on('keyup', function(e) {
            if (e.keyCode != 13)
                return

            const msg = { type: 'message', channel: 'default', message: this.value };
            this.value = ''

            socket.send(JSON.stringify(msg))

        })
        function subscribe(channel) {
             const subscribe = { type: 'subscribe', channel: channel}
             socket.send(JSON.stringify(subscribe))
        }


    </script>
}(webJarAssets)
