@(webJarAssets: WebJarAssets)(implicit request: play.api.mvc.RequestHeader)
@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {
    <div class="log"></div>
    <input type="text" name="message" placeholder="message here">

    <script>
         const wsUrl = $('body').data('websocket_url')

        const socket = new WebSocket(wsUrl)

        socket.onmessage = (event) => {
            console.log(event)
            const msg = JSON.parse(event.data)
            $('.log').append("<div>" + msg.user + ": " + msg.message + "</div>")
        }
        socket.onopen = (event) => {
            console.log('socket open')
        }

        $('input').on('keyup', function(e) {
            if (e.keyCode != 13)
                return

            const msg = { channel: 'default', user: "notused", message: this.value };
            this.value = ''

            socket.send(JSON.stringify(msg))

        })


    </script>
}(webJarAssets)
