@(webJarAssets: WebJarAssets)
@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {
    <h1>Skeleton</h1>
    <script>
        const user = prompt("username?")
        console.log('got here')
        const socket = new WebSocket('ws://localhost:9000/socket')

        socket.onmessage = (event) => console.log('message received')
        socket.onopen = (event) => {
            socket.send('test')
        }


    </script>
}(webJarAssets)
